 .cardCont{
     width: 100%;
    background-color: rgb(32, 45, 112);
    color: #fff;
    text-align: center;
    cursor: pointer;
    
  }
  .infoBox{
    width: 100%;
  }
  .infoBox:hover{
    
    transform: scale(1.2,1.2);
    transition: all .9s ease-in;
}
.infoBox__cases{
    padding: 5px 0;
     
}

.infoBox__cases--selected{
  color: white;
}
.infoBox__cases--red{
  color: red;
}

.infoBox__cases--green{
  color: green;
}
.infoBox__cases--orange{
  color: orange;
}
@media (max-width: 540px){
    .infoBox{
        display: flex;
        margin: 10px 0;
    }
  }
