*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: steelblue;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header > h1{
  font-size: 2.4rem;
  color:rgb(32, 45, 112)
}


.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__left{
  flex: 0.9;
}

.app__dropdown{
  background-color:rgb(61, 79, 167);
  color: slategrey;
  border-radius: 3px;
}

.app__dropdown p{
  color: black;
  font-weight: bold;
}

.app__stats{
  display: flex;
  justify-content: space-between;  
  margin-bottom: 20px;
}

@media (max-width: 990px){
  .app{
    flex-direction: column;
  }
}

@media (max-width: 540px){
  .app__stats{
    display: flex;
    flex-direction: column;
  }
}